attrs
boto3~=1.37.5
botocore~=1.37.18
colorama
dataclasses
dataclasses-json
dnspython
exceptiongroup
fastapi~=0.115.11
iniconfig
jmespath
marshmallow
marshmallow-enum
mypy-extensions
packaging
pluggy
pytest~=8.3.5
python-dateutil
s3transfer
six
tomli
typing-inspect
typing_extensions
urllib3
importlib_metadata~=8.6.1
setuptools~=76.1.0
pydantic~=2.10.6
numpy~=2.2.4
requests~=2.32.3
tiktoken~=0.9.0
kuhl-haus-metrics~=0.2.2